name = "popup-relay"
main = "src/index.ts"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]

[durable_objects]
bindings = [
  { name = "POPUP_SESSION", class_name = "PopupSession" },
  { name = "MCP_OBJECT", class_name = "PopupMcpAgent" }
]

[[kv_namespaces]]
binding = "OAUTH_KV"
id = "b64ed9f3b8e445caa47b3b7b5c3ccaae"
preview_id = "bee490ea087b40e7bd8eb1094f49b2aa"

[[migrations]]
tag = "v1"
new_classes = ["PopupSession"]
new_sqlite_classes = ["PopupMcpAgent"]
